<ul>
  <li><a routerLink="" routerLinkActive="active">Top Games</a></li>
  <li><a routerLink="new" routerLinkActive="active">New Games</a></li>
  <li><a routerLink="slots" routerLinkActive="active">Slots</a></li>
  <li><a routerLink="jackpots" routerLinkActive="active">JackPots</a></li>
  <li><a routerLink="live" routerLinkActive="active">Live</a></li>
  <li><a routerLink="blackjack" routerLinkActive="active">Blackjack</a></li>
  <li><a routerLink="roulette" routerLinkActive="active">Roulette</a></li>
  <li><a routerLink="table" routerLinkActive="active">Table</a></li>
  <li><a routerLink="poker" routerLinkActive="active">Poker</a></li>
  <li><a routerLink="other" routerLinkActive="active">Other</a></li>
</ul>
<router-outlet></router-outlet>
